Navbar{
  background-color: #061621;
}
.navbar-container {
  padding: 0.5rem 0;
}

.nav-link {
  color: #fff;
  opacity: 1.0;
  margin-right: 0.5rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
  height: 30px;
}

img{
  align-self: center;
  max-width: 70px;
  height: auto;
}



@media (max-width: 991px) {
  .nav-link {
    margin-bottom: 0.5rem;
  }

  .navbar-brand img {
    margin-right: 5px;
    height: 25px;
  }

  .navbar-brand span {
    font-size: 1.2rem;
  }
  #navbarScroll{
  margin-top: 2%;
}
}

@media (min-width: 991px) {
  .search-input {
    width: 300px;
  }
}

